# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
*.egg-info/

# Flask instance folder
instance/

# Database files
*.db
*.sqlite3

# MySQL dump files
*.sql

# Environment variables
.env

# VS Code settings
.vscode/
*.code-workspace

# Ignore logs
*.log

# Ignore compiled bytecode
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
