body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
}

main {
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}
